<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello KDT</h1>
    <!-- 데이터를 넣고 싶을때 = 를 쓰면 됨 -->
    <h3>나이는 <%= age%></h3>
</body>
</html>