<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello ejs</h1>
    <ul>
        <%- include('header.ejs') %>
        <% for(let i=0; i < 5; i++) { %>
            <li>안녕</li>
        <% } %>
        <h1><%= name %></h1>
    </ul>
</body>
</html>